@import '../../styles/variables.scss';

.my-button{
    color: $color-secundario;
    background-color: $color-principal;
    border: none;
    border-radius: 16px;
    padding: 8px 16px;
    font-weight: 1000;
    font-size: 14px;
    text-transform: capitalize;
    font-family: $fuente; 
    margin-top: 10px;
    margin-bottom: 10px;  
}

.my-button:hover{
    color: $color-principal;
    background-color: $color-secundario;
    border: none;
}

.my-button:focus{
    color: $color-principal;
    background-color: $color-secundario;
    border: none;
}   