@import '../../styles/variables.scss';

.item-list-container {
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
  padding: 10px;
  color: $color-secundario;
  font-size: large;
  font-family: $fuente;
}

.hr{
  border-radius: 20px;
  width: 75%;
  border-color: $color-secundario;
}

.cargando{
  margin-left: 300px;
  max-width: 500px;
  max-height: 500px;
}