.header {
    padding: 20px 50px;
    width: 100%;
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
     font-size: 52px;
     
}