@import '../../styles/variables.scss';

.header {
    padding: 20px 50px;
    width: 100%;
    background-color: $color-principal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
        color: #273036;
        font-size: 72px;
        font-weight: 800px;
        font-family: $fuente;
        text-decoration: none;
    }

    .header-nav {
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 1200px;
        width: 20%;
    
        .header-link {
            color: $color-secundario;
            text-transform: capitalize;
            text-decoration: none;
            font-size: medium;
            font-style: normal;
            cursor: pointer;
            font-family: $fuente;
        }
    }
}
.cantidadCart {
    color: $color-secundario;
    text-transform: capitalize;
    text-decoration: none;
    font-size: small;
    cursor: pointer;
    font-family: $fuente;
}







